html {
  overflow-y: scroll;
}

body{
	padding-top: 65px; 
	background-color: #F2F4F4;
	font-family: 'Droid Sans', sans-serif;
}

.panel{
	background-color: white;
	padding: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-panel{
	height: 300px;
	overflow-y: auto;
}

h2, h3, .project-panel a, .project-panel a:visited{
	color: #C4566A;
}

h4{
	color: #2F6690;
}

h5{
	color: #033F63;
}

a, a:visited{
	color: #34495E;
}

.screenshots p{
	padding: 10px;
}

.screenshots img{
	border: 2px solid black;
	max-width: 100%;
	max-height: 100%;
}
