html {
  overflow-y: scroll;
}

body{
	background-color: #34495E;
	color: #34495E;
	font-family: 'Droid Sans', sans-serif;
}

#page{
	border: 2px solid #8A949B;
	border-radius: 25px;
	max-width: 1000px;
	background-color: #F2F4F4;
	margin:auto;
	padding: 0px 15px;
	display:block;
}

h1{
	float:left;
	color: #2F6690;
}

h2{
	color: #C4566A;
}

a, a:visited{
	color: #34495E;
}

#navbar ul {
	float:right;
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;   
}

#navbar li {
    float: left;
	background-color: #5B6872;
	margin: 2px;
	border: 2px solid black;
}

#navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	color: #FAFAFA;
}

#navbar li a:hover {
    background-color: #5299D3;
	color: #FAFAFA
}

#navbar #current-link { 
    background-color: #5299D3;
	color: #FAFAFA
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
	padding: 10px;
	width: 750px;
}

.experience-date{
	background-color: #C4566A;
	color: #FAFAFA;
	width: 100px;	
	text-align: center;
}

.experience-description, .experience-company, .experience-title{
	background-color: #FAFAFA;
	
}

.experience-company, .experience-title {
	font-size: 14pt;
}

.experience-description a, .experience-title a{
	color: #34495E;
}

.experience-description li {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -2em;
    padding-left: 2em;
}

.float-left{
	float:left;
}

.float-right{
	float:right;
}

.clear{
	clear:both;
}

#my-photo{
	height: 250px;
	width: 250px;
	border:2px solid black;
	margin:15px;
}

.screenshots p{
	display:block;
	margin:auto;
	width: 50%;
}

.screenshots img{
	display:block;
	margin:auto;
	border: 2px solid black;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

@media (min-width: 1200px) {
  .container {
    max-width: 800px;
  }
}