html {
  overflow-y: scroll;
}

body{
	background-color: 003B20;
	color: #75B095;
	font-family: 'Droid Sans', sans-serif;
}

#page{
	max-width: 800px;
	background-color: 0F5837;
	margin:auto;
	padding: 0px 15px;
	display:block;
}

h1{
	float:left;
	color: #BCE498;
}

h2{
	color: #8CBE5F;
}

a:visited{
	color: #75B095;
}

#navbar ul {
	float:right;
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;   
}

#navbar li {
    float: left;
	background-color: #123752;
	margin: 2px;
	border: 2px solid black;
}

#navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	color:708EA4;
}

#navbar li a:hover {
    background-color: #708EA4;
	color: #123752
}

#navbar li a #current-link { 
    background-color: #708EA4;
	color: #123752
}

table, th, td {
	border: 2px solid black;
	border-collapse: collapse;
	padding: 10px;
	width: 750px;
}

.experience-date{
	background-color: #708EA4;
	color: 032137;
	width: 100px;	
	text-align: center;
}

.experience-company, .experience-title {
	background-color: #75B095;
	font-size: 14pt;
	color: 003B20;
}

.experience-description{
	background-color: #75B095;
	color: 003B20;
}

.experience-description a, .experience-title a{
	color: 003B20;
}

.experience-description li {
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -2em;
    padding-left: 2em;
}

.float-left{
	float:left;
}

.float-right{
	float:right;
}

.clear{
	clear:both;
}

#my-photo{
	height:200;
	width:200;
	border:2px solid black;
	margin:15px;
}

#screenshots img{
	display:block;
	margin:auto;
	border: 2px solid black;
	width:515;
	height:375;
}

#screenshots p{
	display:block;
	margin:auto;
	width: 50%;
}